.hero-background {
    background: url("../img/hero/banner.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 70vh;
}
.product-device::before {
    background: url("../img/hero/phone.jpg");
    background-size: cover;
}

a.no_style:link {
    text-decoration: inherit;
    color: inherit;
}

a.no_style:visited {
    text-decoration: inherit;
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}